@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
  --cor: #8629FE;
  --cor-cinza: #2E3138;
  --cor-erro: #ff707025;
  --tamanho: 100px;
  
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2e313815; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--cor); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    user-select: none;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #e3e3e4, #e3e3e4);
}

#tabela-container {
  height: 200px !important;
  max-height: 200px; /* Altura máxima visível */
  overflow: auto;
  position: relative;
}

#listaGrupos {
  height: 200px !important;
  padding: 5px;
  max-height: 200px; /* Altura máxima visível */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#listaGrupos li{
  list-style: none;
}

table {
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

thead th {
  width: auto !important;
  min-width: 140px;
  position: sticky;
  top: 0;
  background-color: #DDD8E6;
  color: var(--cor);
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 400 !important;
  z-index: 2;
}

tr {
  width: 77px; /* altura de cada linha */
}

tbody tr:hover {
  background-color: #f2f2f2; /* hover lateral na linha inteira */
  cursor: pointer;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 12px !important;
}


#progresso-container{
  border-radius: 5px;
  overflow: hidden;
}


#barra-progresso {
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}


.capa{
  width: 60%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-image: url("assets/capa.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login, #cadastro, #homepage{
  display: flex;
  height: 100%;
  align-items: center;
}

#homepage{
  flex-direction: column;
}

.login-container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
}

.efeito{
  position: absolute;
  bottom: 0px;
  width: 500px;
  right: 0px;
  transform: translate( 50%, 50%) rotate(53deg);
  z-index: -1;
  animation: efeitoRotate 20s infinite linear;
}

@keyframes efeitoRotate {
  0%{
    transform: translate( 50%, 50%) rotate(53deg);
  }
  50%{
    transform: translate( 50%, 50%) rotate(20deg);
  }

  100%{
    transform: translate( 50%, 50%) rotate(53deg);
  }
}

.efeito2{
  position: absolute;
  bottom: 0px;
  width: 400px;
  opacity: 55%;
  left: 0px;
  transform: translate( -50%, 50%) rotate(183deg);
  z-index: -1;
  animation: efeitoRotate2 40s infinite linear;
}

@keyframes efeitoRotate2 {
  0%{
    transform: translate( -50%, 50%) rotate(183deg);
  }
  50%{
    transform: translate( -50%, 50%) rotate(-20deg);
  }

  100%{
    transform: translate( -50%, 50%) rotate(183deg);
  }
}


.footer-login{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & span{
    font-size: 11px;
    color: var(--cor-cinza);
  }
}

.footer-login div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-login div img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.footer-login div a{
  color: var(--cor);
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.login-header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-login{
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;

  & h1{
    font-size: 17px;
    color: var(--cor-cinza);
  }
}

.logotipo{
  width: 150px;
}

#button-login{
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: white;
  background-color: var(--cor);
  border-radius: 5px;
  padding: 18px 7px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.btn-cogna{
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: white;
  background-color: var(--cor);
  border-radius: 5px;
  padding: 10px 14px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}


/* INPUT LOGIN */
.input-login{
  display: flex;
  flex-direction: column;
  gap: 7px;

  & label{
    font-size: 10px;
    color: var(--cor-cinza);
  }

  & input{
    width: 100%;
    background: #cacaca27;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    outline: none;
    padding: 8px 12px;
  }
}

.input{
  width: 100%;
}

.spinner-border {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-top: 2px solid transparent; /* Parte que ficará "vazia" para o efeito girar */
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
  flex-shrink: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.msg-erro{
  width: 100%;
  color: #a53434;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ff31313d;
  background: var(--cor-erro);
  font-size: 12px;
}


#qrCanvas{
  width: 100% !important;
  height: auto !important;
}

#loading-cadastro, #loading-homepage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

#onloading-cadastro, #onloading-homepage{
  width: 100%;
  height: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

#onloading-homepage{
  flex-direction: column;
  padding: 20px;
}



.loagind-css {
    user-select: none !important;
    width: 100px;
    height: 100px;
    position: relative;
    width: var(--tamanho);
    height: var(--tamanho);
}

.loagind-css img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loagind-css .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--tamanho) / 5.5 ) !important;
    animation: pulso 2s linear infinite;
}

.loagind-css .rotate {
    animation: spin 2s linear infinite; /* Animação */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Começa com 0 graus */
  }
  100% {
    transform: rotate(360deg); /* Gira até 360 graus */
  }
}

@keyframes pulso {
  0%{
    transform: translate(-50%, -50%) scale(1);
  }
  
  50%{
    transform: translate(-50%, -50%) scale(1.08);
  }
  
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}








/* HOME PAGE STYLES */

.header-home{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#logotipo-header{
  width: 120px;
}

.profile{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;


  & img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: end;


  & h1{
    font-size: 13.89px;
    color: var(--cor-cinza);
    text-transform: uppercase;
  }

  & p{
    font-size: 10px;
    font-weight: 300;
  }
}

.viewer-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.viewer{
  width: calc(100% - 22%);
  height: 100%;
  padding: 35px;
}

.lateral-menu{
  padding-top: 20px;
  height: 85dvh;
  width: 22%;
  user-select: none !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#spanfooter{
  width: 100%;
  text-align: end;
}

.content{
  width: 100%;
  & h1{
    width: 100%;
    font-size: 17px;
    color: var(--cor-cinza);
  }

  & p{
    font-size: 12.5px;
    font-weight: 300;
  }
}

.options-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}

.button{
  width: 100%;
  display: flex;
  user-select: none;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.button:hover .iconMenu {
  background-color: #8529fe25;
  transition: background-color 0.3s ease-in-out;
}

.iconMenu.ativo {
  background-color: #8529fe25;
  transition: background-color 0.3s ease-in-out;
}

.iconMenu svg path {
  fill: #2E3138;
  transition: fill 0.3s ease-in-out;
}

.button:hover .iconMenu svg path {
  fill: var(--cor); 
}

.iconMenu.ativo svg path {
  fill: var(--cor);
}

.iconMenu{
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #2e313817;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-info{
  width: 100%;

  & h2{
    font-size: 13px;
    color: var(--cor-cinza);
  }


  & span{
    width: 100%;
    font-size: 5px;
  }
}

.privado, .grupo, .chip, .base, .padrao, .chat{
  width: 100%;
  height: 100%;
}


.privado, .grupo{
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 15px;
}

.mensagem{
  width: 100%;
  height: 189.58px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & h1{
    font-size: 11px;
    color: var(--cor-cinza);
  }

  & textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #2e31382e;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    background-color: transparent !important;
  }
}

textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #2e31382e;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    background-color: transparent !important;
}


.footer-mensagem{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.handleSendMessage{
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: white;
  background-color: var(--cor);
  border-radius: 5px;
  padding: 12px 18px;
  flex-shrink: 0 !important;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: var(--cor-cinza);
  background-color: #2e31381e;
  border-radius: 5px;
  padding: 12px 18px;
  flex-shrink: 0 !important;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.custom-file-upload:hover {
  background-color: #2e313832;
}

#nenhuma{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e31386e;
}

.input-check {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  color: var(--cor-cinza);
}

.input-check input {
  display: none;
}

.checkmark {
  width: 10px;
  height: 10px;
  border: 1px solid #2e313871;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  transition: .6s ease-in-out;
}

.input-check input:checked ~ .checkmark {
  transition: .6s ease-in-out;
  outline: 4px solid #8529fe30;
  background-color: var(--cor) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delay{
  display: flex;
  width: 117px;
  flex-direction: column;
  align-items: start;

  & p{
    font-size: 10px;
  }

  & input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 10px;
    border-radius: 0px 5px 5px 5px;
    background-color: #2e31381e;
    padding: 6px 5px; 
  }
}
#anexo{
  position: relative !important;
  height: 100%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 5px;
  color: var(--cor-cinza);
  background-color: #2e31381e;

  cursor: pointer;
}

#anexo:hover{
  background-color: #8529fe25;
  transition: background-color 0.3s ease-in-out;

  & svg path{
    fill: var(--cor);
    transition: fill 0.3s ease-in-out;
  }

  & div{
    display: block;
    animation: enterLateral 0.6s ease-out forwards;
  }
}

.header-mensagem{
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h1{
    font-weight: 500;
  }
}


.title-item {
  position: absolute;
  top: -110%;
  right: 10%;
  white-space: nowrap;
  padding: 9px;
  border-radius: 5px;
  background-color: black;
  outline: 5px solid rgba(0, 0, 0, 0.098);
  color: white;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}

@keyframes enterLateral {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leaveLateral {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}


#info{
  border: none;
  outline: none;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


#info:hover{
 & svg path{
    fill: var(--cor);
    transition: fill 0.3s ease-in-out;
  }
}




.mockups{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  overflow: hidden !important;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.329);
}

.loading-message{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-mensagem , .loading-message{
  zoom: 0.8;
  max-width: 700px;
  background-color: #f9f9f9;
  padding: 25px;
  margin: 20px auto;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.info-mensagem h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--cor-cinza);
  text-transform: uppercase;
}

.info-mensagem h2 {
  font-size: 18px;
  color: #444;
  margin-top: 20px;
}

.info-mensagem p {
  margin: 8px 0;
}

.info-mensagem ul {
  padding-left: 20px;
  margin-top: 10px;
}

.info-mensagem li {
  margin-bottom: 6px;
}

.info-mensagem code {
  background-color: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
  color: var(--cor);
}

.info-mensagem blockquote {
  background-color: #fffbea;
  padding: 15px;
  border-left: 4px solid var(--cor);
  border-radius: 6px;
  margin: 15px 0;
}


#mockup-close{
  position: absolute;
  right: 25px;
  top: 25px;
   display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  color: white;
  background-color: var(--cor);
  border-radius: 5px;
  padding: 10px 17px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
}


@keyframes enterTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



#footer-progress, #footer-pause{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & button{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 6px;
    justify-content: center;
    color: var(--cor);
    background-color: #8529fe2f;
    border-radius: 5px;
    padding: 12px 18px;
    flex-shrink: 0 !important;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.header-message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#info-progresso{
  color: #2e313873;
}

#mensagem-final{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  color: var(--cor-cinza);
  text-transform: uppercase;
}


#fotoUsuario {
  width: 40px;
  aspect-ratio: 1 / 1;
  height: 40px; /* altura fixa, igual à largura */
  border-radius: 50%;
  object-fit: cover; /* garante que a imagem preencha o círculo sem distorcer */
  flex-shrink: 0;
  background-size: cover;
  overflow: hidden;
  background-position: center;

  & div {
    opacity: 0;
    transition: .2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #e6cccdeb;
    justify-content: center;
  }
}

#fotoUsuario:hover{
  cursor: pointer;
  
  & div{
    transition: .2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    align-items: center;
    background-color: #e6cccdeb;
    justify-content: center;
  }
} 


/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  gap: 10px;
  zoom: 0.8;
}


/* Create a custom checkbox */
.checkmark2 {
  position: relative;
  border: 1px solid #2e313892;
  background-color: transparent;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  padding: 0px;
  box-sizing: border-box;
}

.container input:checked ~ .checkmark2 {
  background-color: var(--cor);
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  padding: 0px;
  box-sizing: border-box;
}

.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark2:after {
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.25em;
  height: 0.5em;
  border: solid #ffffff;
  border-width: 0 0.15em 0.15em 0;
  transition: all 500ms ease-in-out;
}


#listaNumeros {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding: 0 !important;
  margin: 0 !important;
  height: 200px;
  overflow-x: auto;
 
}

#listaNumeros li {
  width: fit-content;
  list-style: none;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
  font-family: monospace;
  color: var(--cor);
  font-size: 11px;
  text-align: center;
  box-sizing: border-box;
}


#extrair-base{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.form-floating{
  display: flex;
  flex-direction: column;
  background-color: transparent !important;

  & label{
    font-size: 13px;
    color: #2e31386e;
  }

  & select{
    margin-top: 8px;
    background: #cacaca27;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    outline: none;
    padding: 8px 12px;
  }
}

#save-base{
  cursor: pointer;
}